body {
    margin-top: 50px;
    overflow: hidden;
    background-color: #f0f0f0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

nav {
    width: 100%;
    max-width: 1000px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    position: fixed;
    top:0;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}


nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    /*border-left: 1px solid #fff;*/
    /*border-right: 1px solid #ccc;*/
    width: 25%; /* fallback for non-calc() browsers */
    width: calc(100% / 4);
    box-sizing: border-box;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    font-family: arial;
    font-size: 10px;
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 0;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: lightgray;
    color: black;
}

.mock-hover-nav {
    text-decoration: none;
    background-color: lightgray;
    color: black;
}

.page-title-nav {
    width:50%;
    font-size: 18px;
    display: block;
    color: black;
    padding: 8px 0;
}

.menu {
    float: right;
    width:40%;
    background-color: lightgray;
    position: fixed;
    top:48px;
    right:0;
    /*padding:5px 10px;*/
}

.menu ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.menu ul li {
    width: 100%;
    list-style: none;
}

.menu ul li a {
    float: left;
    width: 100%;
    text-decoration: none;
    padding:20px 0 20px 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 2px solid lightgray;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#groups-list {
    color: white;
}

.group-list-display-name {
    display: block;
    border-bottom:1px solid lightgray;
    padding: 20px;
}

.group-list-display-name{
    text-decoration: none;
    font-size: 18px;
    color: #303030;
}

.group-list-display:first-child {
    border-top:1px solid lightgray;
}

.touch-hover-group-list {
    background-color: lightgray;
    text-decoration: none;
}

.group-list-display-name:hover {
    text-decoration: none;
    color: #303030;
}

.group-list-display-owner {
    color: green;
    float: right;
}

.edit-group-settings-button {
    width: 120px;
    border-radius: 2px;
    padding: 4px;
    border: 1px solid cornflowerblue;
    font-size: 20px;
    margin-left: 2px;
}

.title {
    margin-bottom: 40px;
    width: 140px;
    color: #00DFFC;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.creet-container {
    min-height: 100px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 2px;
    width:100%;
    padding: 4px;
    float: left;
}

.creet-container .score-container {
    float:left;
    width:40px;
    margin-right: 10px;
}

.creet-container .creet-score {
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}

.creet-details {
    width: 100%;
    padding: 10px;
    float: left;
    background-color: lightgray;
}

.creet-details div {
    float: left;
}

.upvote-btn {
    padding-left: 4px;
}

.downvote-btn {
    padding-left: 4px;
}

.button-upvoted {
    background-color: green;
    border-radius: 2px;
}

.button-downvoted {
    background-color: red;
    border-radius: 2px;
}

.creet-container .creet-header {
    /*float: left;*/
}

.creet-container .creet-footer {
    float: right;
    position: relative;
}

.creet-container .creet-author {
    width:auto;
    color: gray;
}

.creet-container .creet-timestamp {
    float:right;
    color: gray;
}

.creet-container .creet-message {
    float:left;

}

abbr[title] {
    cursor: text;
    border-bottom: none;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}

.user-form {
    max-width: 300px;
}